.wy-nav-side {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 2em;
    width: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100%;
    color: #9b9b9b;
    background: #01411cea;
    z-index: 200
}

.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    background: #ff9900ec;
    text-align: center;
    color: #fcfcfc
}

/* change logo */

.tutorials-header .header-logo {
    background-image: url("../img/logo.png");
}

@media screen and (min-width: 1100px) {
    .header-logo {
        background-size: 108px 27px;
        position: absolute;
        height: 27px;
        width: 108px;
        top: 4px;
        float: none;
    }
}

/* change color of borders to gradient of flag */

/* for classes */

article.pytorch-article .class dt {
    border-left: none;
    border-top-width: 3px;
    padding-left: 4em;
    border-top-style: solid;
    border-image: linear-gradient(to right, #01411C, #F90)1;
}

/* for methods */

article.pytorch-article .class .method dt, article.pytorch-article .class .staticmethod dt {
    border-top: none;
    border-left-width: 3px;
    border-left-style: solid;
    border-image: linear-gradient(to bottom, #01411C, #F90)1;
}

/* change that pinkish link color */

ul.pytorch-breadcrumbs a {
    color: #F90;
    text-decoration: none;
}

a:link, a:visited, a:hover {
    color: #f90;
}

.pytorch-left-menu li.toctree-l1.current>a, .pytorch-right-menu li.toctree-l1.current>a {
    color: #f90;
}

.header-holder .main-menu ul li.active:after {
    color: #f90;
}

.header-holder .main-menu ul li.active a {
    color: #f90;
}

@media screen and (min-width: 1100px) {
    .header-holder .main-menu ul li a:hover {
        color: #f90;
    }
}

.mobile-main-menu.open ul li.active a {
    color: #f90;
}

/* for that actual "CLASS" text */

article.pytorch-article .class em.property {
    text-transform: uppercase;
    font-style: normal;
    color: #f90;
    font-size: 1rem;
    letter-spacing: 0;
    padding-right: 0.75rem;
}

/* change footer logo */

.footer-logo {
    background-image: url("../img/footer-logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 24px;
    display: block;
    height: 24px;
    margin-bottom: 2.8125rem;
    width: 20px;
}

/* experimental */

/* 
body {
    background: #000;
    color: aliceblue;
}

.pytorch-content-wrap {
    background-color: #ffffff00;
}

article.pytorch-article .function dd p, article.pytorch-article .attribute dd p, article.pytorch-article .class .attribute dd p, article.pytorch-article .class dd p {
    color: aliceblue;
}

article.pytorch-article .function table tbody tr th.field-name, article.pytorch-article .attribute table tbody tr th.field-name, article.pytorch-article .class table tbody tr th.field-name {
    white-space: nowrap;
    color: aliceblue;
    width: 20%;
}

article.pytorch-article .function table tbody tr td.field-body, article.pytorch-article .attribute table tbody tr td.field-body, article.pytorch-article .class table tbody tr td.field-body {
    padding: 0.625rem;
    width: 80%;
    color: aliceblue;
}

.header-holder {
    background-color: #000;
    border-bottom: 1px solid #e2e2e2;
}

.tutorials-header .main-menu ul li a {
    color: aliceblue;
}

.pytorch-page-level-bar {
    background-color: #000;
    border-bottom: 1px solid #e2e2e2;
}

.pytorch-left-menu {
    background-color: #262626;
    color: aliceblue;
}

.pytorch-left-menu p.caption {
    color: aliceblue;
}

article.pytorch-article p, article.pytorch-article ul li, article.pytorch-article ol li, article.pytorch-article dl dt, article.pytorch-article dl dd, article.pytorch-article blockquote {
    color: aliceblue;
}

article.pytorch-article .function dt, article.pytorch-article .attribute dt, article.pytorch-article .class .attribute dt, article.pytorch-article .class dt {
    background: gray;
}

article.pytorch-article .function dt>code, article.pytorch-article .attribute dt>code, article.pytorch-article .class .attribute dt>code, article.pytorch-article .class dt>code {
    color: aliceblue;
} */

/* end of experiment */