{%- set external_urls = {
  'github': 'https://github.com/KoshurNizam/KoshurRecognition',
  'github_issues': 'https://github.com/KoshurNizam/KoshurRecognition/issues',
  'contributing': 'https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md',
  'docs': 'https://ourwebsite/docs/stable/index.html',
  'twitter': 'https://twitter.com/ourusername',
  'facebook': 'https://www.facebook.com/ourusername',
  'slack': 'https://koshurnizam.slack.com',
  'discuss': 'https://discuss.ourwebsite',
  'tutorials': 'https://ourwebsite/tutorials',
  'previous_pytorch_versions': 'https://ourwebsite/previous-versions/',
  'home': 'ourwebsite',
  'get_started': 'https://ourwebsite/get-started',
  'features': 'https://ourwebsite/features',
  'ecosystem': 'https://ourwebsite/ecosystem',
  'blog': 'https://ourwebsite/blog/',
  'resources': 'https://ourwebsite/resources',
  'support': 'https://ourwebsite/support',
  'mobile': 'https://ourwebsite/mobile',
  'hub': 'https://ourwebsite/hub',
  'youtube': 'https://www.youtube.com/ourusername',
  'brand_guidelines': 'https://ourwebsite/assets/brand-guidelines/Brand-Guidelines.pdf'
}
-%}